<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container" ng-app="myApp" ng-controller="myController">
      <div class="col-sm-8 col-sm-offset-2">
        <h3>Attendance Calculator</h3>
        <div class="row">
          <div class="col-sm-6">
            <h4>Variables</h4>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="No. of Persons" ng-model="people" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="No. of Lessons" ng-model="lessons" />
            </div>

            <div class="form-group">
              <input type="text" class="form-control" placeholder="Total No. of No-Attendance" ng-model="noAttendance"/>
            </div>

            <div class="form-group">
              <span class="btn btn-primary btn-block" ng-click="calculate()">Calculate</span>
            </div>
          </div>
          <div class="col-sm-6" ng-if="percentage || percentage == 0">
            <h4>Resume</h4>
            People: <b>{{ people }}</b><br/>
            Lessons: <b>{{ lessons }}</b><br/>
            Total of Attendance: <b>{{ people * lessons }}</b><br/>
            Total of No-Attendance: <b>{{ noAttendance }}</b><br/>
            <hr>
            <h4>Percentage</h4>
            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
            </canvas>
            No attendance: <b>{{ percentage }}</b> % <br>
            Attendance: <b>{{ 100 - percentage }}</b> %
          </div>
        </div>
      </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
